<div id="chat-container" class="border">
    <div class="chat-header text-center border p-1">@*header*@
        Chat with our bot
    </div>
    <div class="chat-body" style="display: none"> @*body*@
        <div id="chat-replies-container">

        </div>
        <div id="chat-options-container">
            <div class="chat-option p-2 m-3 border rounded text-center btn btn-primary">
                Recommend me an event based on my favourite genre.
            </div>
            <div class="chat-option p-2 m-3 border rounded text-center btn btn-primary">
                Recommend me something similar to what i like, but on another genre.
            </div>
            <div class="chat-option p-2 m-3 border rounded text-center btn btn-primary">
                I want to get out of my confort zone. Recommend me something new.
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript" src="~/js/gpt.js"></script>
