@model ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = "Error";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/customize-bootstrap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pictureContainers.css" asp-append-version="true" />
<link rel="stylesheet" href="~/TicketApp.Web.styles.css" asp-append-version="true" />


<div class="container">
    <h1>Error 401</h1>
    <h2>Your account has been deactivated. Please contact the website for more information</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go back to home page.</a>
</div>



